[Unit]
Description=docker read-only proxy service
After=docker.service
Requires=docker.socket

[Service]
Type=simple
ExecStartPre=-/bin/bash -c '/usr/bin/docker kill $(docker ps -q -f name=%p) || true'
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm $(docker ps -a -q -f name=%p) || true'
ExecStart=/usr/bin/docker run \
    --log-driver=journald \
    --privileged \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -p 127.0.0.1:2375:2375 \
    -e CONTAINERS=1 \
    --name %p tecnativa/docker-socket-proxy
ExecStop=/usr/bin/docker stop %p

Restart=on-success
#WatchdogSec=30s
RestartSec=30s

[Install]
WantedBy=multi-user.target
