[Unit]
Description=echopilot service
After=docker.service
Requires=docker.socket

[Service]
Type=notify
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/local/bin/sdnotify-proxy /run/%p.sock /usr/bin/docker run \
    --log-driver=journald \
    -v /run/%p.sock:/run/%p.sock \
    -e SYSTEMD_NOTIFY_ENABLE=true \
    -e NOTIFY_SOCKET=/run/%p.sock \
    -e WATCHDOG_USEC=1000000 \
    --name %p echopilot
ExecStop=/usr/bin/docker stop %p

Restart=on-success
#WatchdogSec=30s
RestartSec=30s
NotifyAccess=all

[Install]
WantedBy=multi-user.target
