[Unit]
Description=fluent-bit service
After=docker.service
Requires=docker.socket

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
    --log-driver=journald \
    --net=host \
    -v /etc/fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf:ro \
    -v /var/run/systemd/journal/socket:/var/run/systemd/journal/socket \
    -v /etc/machine-id:/etc/machine-id \
    -v /var/log/journal:/var/log/journal \
    -v /var/log/fluent-bit.log:/var/log/fluent-bit.log \
    --name %p fluent/fluent-bit
ExecStop=/usr/bin/docker stop %p

Restart=on-success
#WatchdogSec=30s
RestartSec=30s

[Install]
WantedBy=multi-user.target
