[Unit]
Description=telegraf service
After=docker.service
Requires=docker.socket

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run \
    --log-driver=journald \
    --net=host \
    -v /etc/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro \
    -v /var/run/docker.sock:/var/run/docker.sock:ro \
    --name %p telegraf
ExecStop=/usr/bin/docker stop %p

Restart=on-success
#WatchdogSec=30s
RestartSec=30s

[Install]
WantedBy=multi-user.target
